@inherits ProfileComponentBase
<tr>
    <td>@Employee.Id</td>
    <td>@Employee.Username</td>
    <td>@Employee.FullName</td>
    <td>@Employee.RoleName</td>
    <td>@Employee.IsDeleted</td>
    <td>
        @* <button class="btn btn-primary" @onclick="()=>ShowUpdateModal=true">Update</button> *@
        <button class="btn btn-primary" @onclick="ShowUpdateModal">Update</button>
        <button class="btn btn-danger" @onclick="ShowDeleteModal">Delete</button>
    </td>
</tr>