@page "/TasksPageAdmin/{ProjectId:int}"
@layout AdminLayout
@inherits TasksAdminBase

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Tasks Page</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Task</button>
</div>

@if (TasksList != null)
{
    foreach (var task in TasksList)
    {
        <TaskComponent TaskId="@task.Id" Title="@task.Title" Description="@task.Description" UserId="@task.UserId" IsAdmin="true"/>
    }
}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Task Title:</label>
                        <input type="text" class="form-control" @bind="Title">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Employee ID:</label>
                        <input type="number" class="form-control" @bind="UserId">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Task Description:</label>
                        <textarea class="form-control" @bind="Description"></textarea>
                    </div>
                    <div class="text-danger">@ErrorMessage</div>
                    <div class="text-success">@SuccessMessage</div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @onclick="AddTaskToEmployee">Add Task</button>
            </div>
        </div>
    </div>
</div>

